/.idea/.idea.ChatApp/.idea/encodings.xml
/Api/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Api/obj/Debug/net6.0/Api.AssemblyInfo.cs
/Api/obj/Debug/net6.0/Api.AssemblyInfoInputs.cache
/Api/obj/Debug/net6.0/Api.assets.cache
/Api/obj/Debug/net6.0/Api.csproj.AssemblyReference.cache
/Api/obj/Debug/net6.0/Api.GeneratedMSBuildEditorConfig.editorconfig
/Api/obj/Debug/net6.0/Api.GlobalUsings.g.cs
/Api/obj/Api.csproj.nuget.dgspec.json
/Api/obj/Api.csproj.nuget.g.props
/Api/obj/Api.csproj.nuget.g.targets
/Api/obj/project.assets.json
/Api/obj/project.nuget.cache
/Api/obj/project.packagespec.json
/Api/obj/rider.project.restore.info
